.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__photo {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  background-color: transparent;
}

.profile__userData {
}

.profile__userName {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--Text-Primary);
}

.profile__userMail {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--Text-Secondary);
}
