.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__photo {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  background-color: transparent;
}

.profile__userData {
  display: flex;
  flex-direction: column;
}
