.ambassodorCard {
  display: flex;
  flex-direction: column;
}

.ambassodorCard__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.ambassodorCard__promoInfo {
  padding: 9px 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.ambassodorCard__promo {
  margin-right: 12px;
}

.ambassodorCard__list {
  list-style: none;
  padding: 16px;
  margin: 0;
  border: 1px solid var(--Line-Generic);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.ambassodorCard__listAnother {
  border: none;
  padding: 0;
}

.ambassodorCard__item {
  padding: 9px 0;
  display: flex;
  align-items: baseline;
}

.ambassodorCard__itemAnother {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
  padding: 0;
}

.ambassodorCard__itemAddress {
  display: flex;
  column-gap: 5px;
}

.ambassodorCard__attribute {
  margin-right: 12px;
  flex: 0 0 auto;
}

.ambassodorCard__deleteButton {
  align-self: end;
}

.ambassadorCard__merchSettings {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 12px;
}

.ambassadorCard__merchSettingContainer {
  width: 224px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.ambassadorCard__merchSetting {
  display: flex;
  flex-direction: column;
}

.ambassadorCard__merchButtons {
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  border-top: 1px solid var(--Line-Generic);
}

.ambassadorCard__merchButton {
  width: 100px;
}

.ambassodorCard__resetButton {
  margin-left: 10px;
}
