.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layout__main {
  box-sizing: border-box;
  padding: 0 20px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--max-desktop-width);
  margin: 0 auto;
}
