.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
}

.cardLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 28px;
  gap: 56px;
}

.pin {
  margin-left: 8px;
}
