.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 48px;
}

.spin {
  margin: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nameSurname {
  display: flex;
  gap: 8px;
}

.fullAdressLine {
  display: flex;
  gap: 8px;
}

.fullAdressQuestion {
  min-width: 30%;
}

.selectedProgramms {
  max-width: 80vw;
}

.sizesSection {
  display: flex;
  flex-direction: row;
}

.sizesImg {
  width: 40%;
  max-width: 400px;
}
