.root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  padding: 28px;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.nameSurname {
  display: flex;
  gap: 8px;
}
