:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --Text-Complementary: #000000b2;
  --Text-Primary: #000000d9;
  --Text-Secondary: #00000080;
  --Branding-Base-Background: #fff;
  --Base-Semantic-Neutral-Light: #0000000d;
  --Base-Area-Ultralight: #fafafa;
}
