.ambassadorCard {
  margin: 28px;
}

.ambassadorCard__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: var(--Text-Primary);
  padding: 0;
  margin: 0 0 24px 0;
}

.ambassadorCard__infoContainer {
  display: flex;
  justify-content: space-between;
}

.ambassadorCard__infoList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.ambassadorCard__infoPoint {
  margin: 0;
  padding: 9px 0;
  display: flex;
}

.ambassadorCard__infoPoint_type_achievement {
  padding: 0;
}

.ambassadorCard__pointDescription {
  font-size: 13px;
  line-height: 18px;
  color: var(--Text-Secondary);
  padding: 0;
  margin: 0 12px 0 0;
  cursor: default;
}

.ambassadorCard__course {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  color: var(--Text-Primary);
}

.ambassadorCard__assignMerchButton {
  width: 138px;
  height: 36px;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  background-color: var(--Base-Brand);
  color: var(--Text-Primary);
}
