.candidatesPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.candidatesPage__searchContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tabs {
  width: fit-content;
}
